.wrapper {
    max-width: 47%;
    margin: .2rem;
    border-radius: .25rem!important;
    background-color: #fff;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

/* @media (min-width: 374px) { 
    .wrapper {
        max-width: 10rem;
        margin: 0.2rem;
    }
} */

@media (min-width: 576px) { 
    .wrapper {
        max-width: 30%;
        margin: 0.5rem;
    }
}


@media (min-width: 768px) { 

}

@media (min-width: 992px) { 
    .wrapper {
        max-width: 1000px;
        margin: 0.5rem;
    }
}

@media (min-width: 1200px) { 
    
}

@media (min-width: 1400px) { 
    
}